* {
  padding: 0;
  margin: 0;
}

.das {
  position: absolute;
  fill: #ffffff;
  background-color: none;
  z-index: 10;
  padding: 3px;
  font-size: 55px;
  font-family: Helvetica, sans-serif;
  font-weight: medium;
  text-align: center;
}

svg rect:hover {
  cursor: pointer;
}

.textColorMain {
  fill: #ff0404;
  font-size: 55px;
  font-family: Helvetica, sans-serif;
  font-weight: medium;
  text-align: center;
}

.te {
  position: absolute;
  fill: #000000;
  font-size: 40px;
  font-family: Helvetica, sans-serif;
  font-weight: medium;
  text-align: center;
}
